*{
        color:#fff;
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{ 
    /* yellow gradient background  */
    background: linear-gradient(25deg, #ffd200 0%, #f7971e 90%);
   }

button{
    border-radius: 5px;
    list-style: none;
}