@import url(root.css);
*{
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #fff;
}
.container h1 {
    color: #fff;
    text-align: center;
    margin: 20px 0;
    text-shadow: 2px 4px 6px #000000;
}

.preguntas {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    text-shadow: 2px 1px 1px #000000;

}
.preguntas input[type="text"] {
    color:#111;
    width: 100%;
    padding: 5px 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

fieldset {
    border: 2px solid #000;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 25px;
    background-color: #5e5e5e;
}

legend {
    font-weight: bold;
    font-size: 1.2em;
    padding: 0 10px;
    color: #fff;
}

label {
    display: block;
    margin-bottom: 12px;
    font-size: 18px;
    cursor: pointer;
    padding-left: 5px;
}

label input[type="radio"] {
    display: inline;
    margin-right: 10px;
    vertical-align: middle;
    transform: scale(1.1);
}

label:hover {
    background-color: #878787;
    border-radius: 4px;
    padding-left: 5px;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #24fe45;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

button:hover {
    background-color: #5efe24;
}

a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}