@import url("root.css");

h1{
    text-shadow: 2px 4px 6px #000000;
    margin-top: 20px;
    color:#fff;
}
.resultado{
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #5e5e5e;
    border: 2px solid #000;
    border-radius: 8px;
    text-align: center;
    
}

button{
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover{
    background-color: #555;
}

a{
    color: #fff;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

h3{
    text-align: center;
    margin-top: 20px;
    color:#fff;
    
}
table{
    margin: 20px auto;
    border-collapse: collapse;
    width: 50%;
}
th, td{
    border: 1px solid #000;
    padding: 8px 12px;
    text-align: center;
}
th{
    background-color: #333;
    color: #fff;
}
th:hover{
    background-color: #555;
}
tr{
    background-color: #777;
}